* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main: #706563;
    --second: #3B0D11;
    --background: #748386;
    --third: #6A3937;
}

header {
    background-color: var(--second);
    text-align: center;
    color: #33c9da;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--background);
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
 img {
    box-sizing: content-box;
 }