* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main: #706563;
    --second: #7C8483;
    --background: #60B2E5;
    --third: #6A3937;
}

body {
    background-color: var(--background);
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-direction: column;
}

header {
    min-width: 650px;
    background-color: var(--second);
    text-align: center;
    color: #33c9da;
    flex-direction: column;
}


nav ul {
    font-size: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
 
img {
    width: 350px;
    display: flex;
    margin: auto
}

article, 
p,
li {
   text-align: center;
   margin: 20px;
   padding: 10px 10px 10px 10px;
   justify-content: ;
}

@media screen and (max-width: 650px) {
    header {
        min-width: 100vw;
    }
    article {
        margin: 0px;
        padding: 0px;
    }
}
